# Database config
DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=simple_banking

# App config
PORT=3000

# JWT
JWT_SECRET=super_secret_jwt_key_example
JWT_EXPIRATION=15m
JWT_REFRESH_SECRET=super_secret_refresh_token_example
JWT_REFRESH_EXPIRATION=7d